<div class="view_scroll padding">
  <cascade-condition
    (cascadeEmitter)="getConditions($event)"
    [showFilter]="
      type === 1
        ? ['grade', 'college', 'userSearch']
        : ['grade', 'college', 'major', 'class', 'chargeClass', 'userSearch']
    "
  ></cascade-condition>
  <div class="flex-between mt10" *ngIf="!checkMode">
    <div>
      <button
        nz-button
        nzType="primary"
        class="mr5"
        (click)="addUser()"
        *ngIf="type ? cache.functionPermissions('addTeacher') : cache.functionPermissions('addStudent')"
      >
        添加用户
      </button>
      <button
        nz-button
        nzType="primary"
        class="mr5"
        (click)="uploadDrawerEl.open()"
        *ngIf="type ? cache.functionPermissions('importTeacher') : cache.functionPermissions('importStudent')"
      >
        导入用户
      </button>
      <button
        nz-button
        nzType="primary"
        [disabled]="!listOfData?.length"
        *ngIf="type ? cache.functionPermissions('exportTeacher') : cache.functionPermissions('exportStudent')"
        (click)="output()"
      >
        导出用户
      </button>
    </div>
    <div>
      <i
        nz-icon
        nzType="info-circle"
        nzTheme="twotone"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="多选用户以执行批量操作"
        class="mr5"
      ></i>
      <span class="reminder mr5" *ngIf="setOfCheckedId.size">已选中{{ setOfCheckedId.size }}人</span>
      <button
        [disabled]="!setOfCheckedId.size"
        nz-button
        nzType="primary"
        class="mr5"
        (click)="roleModal.open()"
        *ngIf="
          type ? cache.functionPermissions('setTeacherPermission') : cache.functionPermissions('setStudentPermission')
        "
      >
        设置用户角色
      </button>
      <button
        [disabled]="!setOfCheckedId.size"
        nz-button
        nzType="primary"
        class="mr5"
        nz-popconfirm
        nzPopconfirmTitle="确认强制下线?"
        nzOkText="确认"
        nzCancelText="取消"
        (nzOnConfirm)="logout()"
        *ngIf="type ? cache.functionPermissions('setTeacherOffset') : cache.functionPermissions('setStudentOffset')"
      >
        强制下线
      </button>
      <button
        [disabled]="!setOfCheckedId.size"
        nz-button
        nzType="primary"
        class="mr5"
        nz-popconfirm
        nzPopconfirmTitle="确认重置密码?"
        nzOkText="确认"
        nzCancelText="取消"
        (nzOnConfirm)="resetPWD()"
        *ngIf="
          type ? cache.functionPermissions('resetTeacherPassword') : cache.functionPermissions('resetStudentPassword')
        "
      >
        重置密码
      </button>
      <button
        [disabled]="!setOfCheckedId.size"
        nz-button
        nzType="primary"
        nz-popconfirm
        nzPopconfirmTitle="确认删除用户?"
        nzOkText="确认"
        nzCancelText="取消"
        (nzOnConfirm)="deleteUser()"
        *ngIf="type ? cache.functionPermissions('deleteTeacher') : cache.functionPermissions('deleteStudent')"
      >
        删除用户
      </button>
    </div>
  </div>
  <div class="mt10">
    <nz-table
      #userTable
      nzSize="small"
      nzBordered
      nzShowPagination
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzData]="listOfData"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getUser()"
      (nzPageSizeChange)="getUser()"
    >
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <th>帐号</th>
          <th>姓名</th>
          <th>性别</th>
          <th>学院</th>
          <th *ngIf="type === 0">专业</th>
          <th *ngIf="type === 0">班级</th>
          <th *ngIf="type === 0">班主任</th>
          <th *ngIf="!checkMode">角色</th>
          <th *ngIf="!checkMode">状态</th>
          <th
            nzAlign="center"
            *ngIf="
              !checkMode && (type ? cache.functionPermissions('editTeacher') : cache.functionPermissions('editStudent'))
            "
          >
            操作
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable.data">
          <td
            [nzChecked]="setOfCheckedId.has(data.account)"
            (nzCheckedChange)="onItemChecked(data.account, $event)"
          ></td>
          <td>{{ data.account }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.college }}</td>
          <td *ngIf="type === 0">{{ data.major }}</td>
          <td *ngIf="type === 0">{{ data.class }}</td>
          <td *ngIf="type === 0">{{ data.chargeTeacher }}</td>
          <td *ngIf="!checkMode">{{ data.role | textFrom }}</td>
          <td *ngIf="!checkMode">{{ data.status ? '在线' : '离线' }}</td>
          <td *ngIf="!checkMode" nzAlign="center">
            <button
              nz-button
              nzType="link"
              (click)="modifyUser(data)"
              *ngIf="type ? cache.functionPermissions('editTeacher') : cache.functionPermissions('editStudent')"
            >
              修改用户
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- 用户信息抽屉 -->
<user-modify-drawer
  #userModifyDrawer
  [default]="param"
  [value]="oldValue"
  [type]="type"
  [isAdd]="isAdd"
  (handleOk)="queryUser()"
></user-modify-drawer>

<!-- 设置用户角色 -->
<nz-modal
  nzWidth="300px"
  [(nzVisible)]="roleModal.visible"
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
  [nzTitle]="(setOfCheckedId.size > 1 ? '批量' : '') + '设置用户角色'"
  (nzOnOk)="roleModal.setRole()"
  (nzOnCancel)="roleModal.cancel()"
  [nzOkLoading]="roleModal.loading"
>
  <ng-container *nzModalContent>
    <span nz-typography nzType="danger">注意：此操作将会覆盖用户原有权限！</span>
    <nz-select nzMode="multiple" [(ngModel)]="roleModal.value" style="width: 100%">
      <nz-option *ngFor="let item of roleModal.roles" [nzValue]="item.key" [nzLabel]="item.title"></nz-option>
    </nz-select>
  </ng-container>
</nz-modal>

<upload-drawer
  #uploadDrawerEl
  url="/user/importUser"
  errorUrl="/user/downloadErrorUser"
  templateUrl="/user/downloadTemplate"
></upload-drawer>
