<div class="view_scroll padding">
  <cascade-condition (paramsEmitter)="getConditions($event)" [showFilter]="['week']"></cascade-condition>
  <div class="flex-between my10">
    <div>
      <button nz-button nzType="primary" class="mr5" (click)="userDrawerEl.open()">添加用户</button>
      <button nz-button nzType="primary">导入用户</button>
    </div>
    <div>
      <i
        nz-icon
        nzType="info-circle"
        nzTheme="twotone"
        nz-tooltip
        nzTooltipPlacement="bottom"
        nzTooltipTitle="多选用户以执行批量操作"
        class="mr5"
      ></i>
      <span class="reminder mr5" *ngIf="setOfCheckedId.size">已选中{{ setOfCheckedId.size }}人</span>
      <button nz-button nzType="primary" class="mr5">批量设置权限</button>
      <button nz-button nzType="primary" class="mr5">批量强制下线</button>
      <button nz-button nzType="primary" class="mr5">批量重置密码</button>
      <button nz-button nzType="primary">批量删除用户</button>
    </div>
  </div>
  <div>
    <nz-table
      #userTable
      nzSize="small"
      nzBordered
      nzShowPagination
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzData]="listOfData"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="queryUser()"
      (nzPageSizeChange)="queryUser()"
    >
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <!-- (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" -->
          <th>帐号</th>
          <th>姓名</th>
          <th>性别</th>
          <th>学院</th>
          <th>专业</th>
          <th>班级</th>
          <th>班主任</th>
          <th>角色</th>
          <th>状态</th>
          <th nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable.data">
          <td
            [nzChecked]="setOfCheckedId.has(data.account)"
            (nzCheckedChange)="onItemChecked(data.account, $event)"
          ></td>
          <td>{{ data.account }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.college }}</td>
          <td>{{ data.major }}</td>
          <td>{{ data.class }}</td>
          <td>{{ data.chargeTeacher }}</td>
          <td>{{ data.role }}</td>
          <td>{{ data.status }}</td>
          <td nzAlign="center">
            <nz-button-group>
              <button nz-button nzType="link">修改信息</button>
              <button nz-button nzType="link">强制下线</button>
              <button nz-button nzType="link">重置密码</button>
              <button nz-button nzType="link">删除用户</button>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<user-modify-drawer #userModifyDrawer></user-modify-drawer>
