:host {
  grid-area: span 1;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.footer {
  border-top: 1px solid #eee;
}

.quantity {
  font-size: 1.3rem;
  font-weight: bold;
}

.info {
  color: #1890ff;
}

.legend {
  margin-right: 8px;
  width: 1rem;
  height: 1rem;
}

.chart {
  min-width: 0;
}
