:host {
  grid-area: 3 / 1 / 4 / 5;
}

.list {
  display: flex;
  flex-direction: column;
  min-width: 0;
  .item {
    height: 71px;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
    > span {
      font-weight: bold;
      padding: 0 20px;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
      &:hover {
        color: #1890ff;
      }
    }
    > div {
      padding: 5px 20px;
      i {
        margin-right: 5px;
      }
    }
  }
}
