<div class="header">
  <span>通知公告</span>
  <button nz-button nzType="link" nzSize="small" routerLink="/bulletin/list">查看更多</button>
</div>
<div class="list">
  <div class="item" *ngFor="let item of data?.slice(0, 5)">
    <span [routerLink]="['/bulletin', item.id]" nz-typography nzEllipsis>
      <i nz-icon nzType="container" nzTheme="outline"></i>{{ item.title }}
    </span>
    <div class="flex-between">
      <span>{{ item.createTime }}</span>
      <!-- <span><i nz-icon nzType="eye" nzTheme="outline"></i>{{ item.views }}</span> -->
    </div>
  </div>
</div>
