:host {
  grid-area: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.title {
  font-weight: bold;
}

.quantity {
  font-size: 1.3rem;
  font-weight: bold;
}

.info {
  color: #3377ff;
}

.legend {
  margin-right: 8px;
  width: 1rem;
  height: 1rem;
}
