.container {
  display: grid;
  grid-template-columns: 1fr 350px;

  .right {
    border-left: 1px #eee solid;
  }
}

.form {
  width: 40%;
  max-width: 500px;
  min-width: 300px;
  nz-form-label {
    width: 90px;
  }
}
