<nz-layout>
  <nz-header nzTheme="light">
    <div class="logo flex-center">
      <img src="../../assets/images/computer.png" alt="机房管理系统" />
      <span>机房管理系统</span>
    </div>
    <div class="right">
      <i nz-icon nzType="bell" nzTheme="outline"></i>
      <span nz-dropdown [nzDropdownMenu]="menu">
        {{ 'xxx' }}
        <i nz-icon nzType="down" nzTheme="outline"></i>
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>修改密码</li>
          <li nz-menu-item>退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzTheme="light">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item (click)="test()">
          <i nz-icon nzType="home"></i>
          <span>首页</span>
        </li>
        <li nz-submenu nzTitle="系统管理" nzIcon="user">
          <ul>
            <li nz-menu-item>教师管理</li>
            <li nz-menu-item>学生管理</li>
            <li nz-menu-item>权限管理</li>
          </ul>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          <span>课程表</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="database" nzTheme="outline"></i>
          <span>机房信息</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
          <span>机房申请</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
          <span>采购申请</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="tool" nzTheme="outline"></i>
          <span>设备报修</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>计算机科学与技术学院 ©2022 20180000 xxx</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
