<div class="header">
  <span class="title">自习排行榜</span>
</div>
<div class="top">
  <div *ngFor="let item of rankList.slice(0, 3)">
    <nz-avatar [nzSize]="50" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
    <span>{{ item.times }}次</span>
    <span>{{ item.name }}-{{ item.class }}</span>
  </div>
</div>
<div class="list">
  <cdk-virtual-scroll-viewport [itemSize]="50" class="view" cdkScrollable #rankScroll>
    <div
      *cdkVirtualFor="let item of rankList.slice(3); let i = index"
      class="flex-between list-item"
      (click)="clickItem(i)"
      [ngClass]="activeItem === i ? 'active' : 'false'"
    >
      <div>
        <span>{{ i + 4 }}</span>
        <span>{{ item.name }}</span>
        <span>{{ item.class }}</span>
      </div>
      <span>{{ item.times }}次</span>
    </div>
    <nz-spin nzSimple [nzSize]="'small'" class="flex-center padding" *ngIf="hasNext"></nz-spin>
    <div class="flex-center padding" *ngIf="!hasNext"><span>没有更多内容...</span></div>
  </cdk-virtual-scroll-viewport>
</div>
<div class="footer">
  <button nz-button nzType="link" (click)="getOwnRank()">我的位置</button>
  <nz-divider nzType="vertical"></nz-divider>
  <button nz-button nzType="link" (click)="rankScroll.scrollToIndex(0)">回到顶部</button>
</div>
