:host {
  position: relative;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.top {
  padding: 10px 40px 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  > div {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }
  > div:first-of-type,
  > div:last-of-type {
    justify-content: flex-end;
  }
  > div:nth-of-type(2) {
    justify-content: flex-start;
  }
}

.list {
  padding: 0 40px;
  .list-item {
    padding: 0 5px;
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
    > div {
      display: flex;
      align-items: center;
      > span {
        display: inline-block;
        &:nth-of-type(1) {
          color: #ccc;
          width: 40px;
        }
        &:nth-of-type(2) {
          width: 70px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
}
