<div class="check-block">
  <div class="type-row" *ngIf="grade.show">
    <span class="type">所在年级：</span>
    <nz-radio-group [(ngModel)]="grade.value" (ngModelChange)="emitCascade('grade')">
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of grade.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="college.show">
    <span class="type">所在学院：</span>
    <nz-radio-group
      [(ngModel)]="college.value"
      (ngModelChange)="emitCascade('college')"
      *ngIf="hasAll || college.data!.length; else empty"
    >
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of college.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="major.show">
    <span class="type">所在专业：</span>
    <nz-radio-group
      [(ngModel)]="major.value"
      (ngModelChange)="emitCascade('major')"
      *ngIf="hasAll || major.data!.length; else empty"
    >
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of major.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="class.show">
    <span class="type">所在班级：</span>
    <nz-radio-group
      [(ngModel)]="class.value"
      (ngModelChange)="emitCascade('class')"
      *ngIf="hasAll || class.data!.length; else empty"
    >
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of class.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="chargeClass.show">
    <span class="type">我的班级：</span>
    <nz-radio-group [(ngModel)]="chargeClass.value" (ngModelChange)="emitCascade('chargeClass')">
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of chargeClass.data">
        {{ item.name }}
      </label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="course.show">
    <span class="type">课程：</span>
    <nz-radio-group
      [(ngModel)]="course.value"
      (ngModelChange)="emitCascade('course')"
      *ngIf="hasAll || course.data!.length; else empty"
    >
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of course.data">
        {{ item.name }}
      </label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="myCourse.show">
    <span class="type">我的课程：</span>
    <nz-radio-group [(ngModel)]="myCourse.value" (ngModelChange)="emitCascade('myCourse')">
      <label nz-radio-button [nzValue]="all" *ngIf="hasAll">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of myCourse.data">
        {{ item.name }}
      </label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="userSearch.show || courseUserSearch.show || courseSearch.show">
    <span class="type">其他：</span>
    <div>
      <nz-input-group
        nzSearch
        [nzAddOnAfter]="userSearchButton"
        class="search-input"
        *ngIf="userSearch.show && !searchMode"
      >
        <input
          type="text"
          nz-input
          placeholder="搜索姓名或帐号"
          [(ngModel)]="userSearch.value"
          (keyup)="$event.which === 13 ? emitCascade('userSearch') : null"
        />
        <ng-template #userSearchButton>
          <button nz-button nzType="primary" nzSearch (click)="emitCascade('userSearch')">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-input-group>
      <nz-select
        #userSearchEl
        *ngIf="searchMode && userSearch.show"
        nzAllowClear
        nzShowSearch
        nzServerSearch
        nzPlaceHolder="搜索姓名或帐号"
        style="width: 180px"
        class="search-input"
        [(ngModel)]="userSearch.value"
        (nzOpenChange)="userSearch.selectOpen($event)"
        (ngModelChange)="userSearch.selectChange($event)"
        (compositionstart)="userSearch.flag = false"
        (compositionend)="userSearch.flag = true"
        (keyup)="userSearch.selectSearch($event)"
      >
        <ng-container *ngFor="let item of userSearch.list">
          <nz-option [nzValue]="item.account" [nzLabel]="item.name + '-' + item.account"></nz-option>
        </ng-container>
      </nz-select>
      <nz-input-group
        nzSearch
        [nzAddOnAfter]="courseUserSearchButton"
        class="search-input"
        *ngIf="courseUserSearch.show && !searchMode"
      >
        <input
          type="text"
          nz-input
          placeholder="搜索授课教师姓名或帐号"
          [(ngModel)]="courseUserSearch.value"
          (keyup)="$event.which === 13 ? emitCascade('courseUserSearch') : null"
        />
        <ng-template #courseUserSearchButton>
          <button nz-button nzType="primary" nzSearch (click)="emitCascade('courseUserSearch')">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-input-group>
      <nz-input-group
        nzSearch
        [nzAddOnAfter]="courseSearchButton"
        class="search-input"
        *ngIf="courseSearch.show && !searchMode"
      >
        <input
          type="text"
          nz-input
          placeholder="搜索课程"
          [(ngModel)]="courseSearch.value"
          (keyup)="$event.which === 13 ? emitCascade('courseSearch') : null"
        />
        <ng-template #courseSearchButton>
          <button nz-button nzType="primary" nzSearch (click)="emitCascade('courseSearch')">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-input-group>
      <nz-select
        #courseSearchEl
        *ngIf="searchMode && courseSearch.show"
        nzAllowClear
        nzShowSearch
        nzServerSearch
        nzPlaceHolder="搜索课程"
        style="width: 180px"
        class="search-input"
        [(ngModel)]="courseSearch.value"
        (nzOpenChange)="courseSearch.selectOpen($event)"
        (ngModelChange)="courseSearch.selectChange($event)"
        (compositionstart)="courseSearch.flag = false"
        (compositionend)="courseSearch.flag = true"
        (keyup)="courseSearch.selectSearch($event)"
      >
        <ng-container *ngFor="let item of courseSearch.list">
          <nz-option
            nzCustomContent
            [nzValue]="{ id: item.courseId, name: item.courseName }"
            [nzLabel]="item.courseName"
          >
            <div>
              <div class="flex-between">
                <span>{{ item.teacherName }}</span
                ><span>{{ item.teacherId }}</span>
              </div>
              <div class="flex-between">
                <span class="mr10">{{ item.courseName }}</span
                ><span>{{ item.description }}</span>
              </div>
            </div>
          </nz-option>
        </ng-container>
      </nz-select>
    </div>
  </div>
  <div class="type-row" *ngIf="conditions.length">
    <span class="type">当前条件：</span>
    <div class="empty-info">
      <nz-tag nzColor="#108ee9" *ngFor="let tag of conditions">
        {{ tag.text }}：{{ tag.value?.name ?? tag.value }}
      </nz-tag>
      <span nz-typography nzType="danger" *ngIf="!isFullCondition">请补全查询条件！</span>
    </div>
  </div>
</div>

<ng-template #empty>
  <span class="empty-info">请先选择上层条件</span>
</ng-template>
