<div class="check-block">
  <div class="type-row" *ngIf="week.show">
    <span class="type">单双周：</span>
    <nz-radio-group [(ngModel)]="week.value">
      <label nz-radio-button nzValue="single">单周</label>
      <label nz-radio-button nzValue="double">双周</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="grade.show">
    <span class="type">所在年级：</span>
    <nz-radio-group [(ngModel)]="grade.value" (ngModelChange)="switchGrade()">
      <label nz-radio-button [nzValue]="0">全部</label>
      <label nz-radio-button [nzValue]="item" *ngFor="let item of grade.data">{{ item }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="college.show">
    <span class="type">所在学院：</span>
    <nz-radio-group [(ngModel)]="college.value" (ngModelChange)="getMajor($event)">
      <label nz-radio-button nzValue="0">全部</label>
      <label nz-radio-button [nzValue]="item.id" *ngFor="let item of college.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="major.show">
    <span class="type">所在专业：</span>
    <nz-radio-group [(ngModel)]="major.value" (ngModelChange)="getClass($event)">
      <label nz-radio-button nzValue="0">全部</label>
      <label nz-radio-button [nzValue]="item.id" *ngFor="let item of major.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="class.show">
    <span class="type">所在班级：</span>
    <nz-radio-group [(ngModel)]="class.value" (ngModelChange)="emitCascade()">
      <label nz-radio-button nzValue="0">全部</label>
      <label nz-radio-button [nzValue]="item.id" *ngFor="let item of class.data">{{ item.name }}</label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="chargeClass.show">
    <span class="type">我的班级：</span>
    <nz-radio-group [(ngModel)]="chargeClass.value">
      <label nz-radio-button nzValue="0">全部</label>
      <label nz-radio-button [nzValue]="item.class_id" *ngFor="let item of chargeClass.data">
        {{ item.class_name }}
      </label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="course.show">
    <span class="type">课程：</span>
    <nz-radio-group [(ngModel)]="course.value">
      <label nz-radio-button nzValue="0">全部</label>
      <label nz-radio-button [nzValue]="item.code" *ngFor="let item of course.data">
        {{ item.name }}
      </label>
    </nz-radio-group>
  </div>
  <div class="type-row" *ngIf="userSearch.show || courseUserSearch.show || courseSearch.show">
    <span class="type">其他：</span>
    <div>
      <nz-input-group nzSearch [nzAddOnAfter]="accountSearch" class="search-input" *ngIf="userSearch.show">
        <input type="text" nz-input placeholder="搜索姓名或帐号" />
      </nz-input-group>
      <nz-input-group nzSearch [nzAddOnAfter]="accountSearch" class="search-input" *ngIf="courseUserSearch.show">
        <input type="text" nz-input placeholder="搜索授课教师姓名或帐号" />
      </nz-input-group>
      <nz-input-group nzSearch [nzAddOnAfter]="accountSearch" class="search-input" *ngIf="courseSearch.show">
        <input type="text" nz-input placeholder="搜索课程名称" />
      </nz-input-group>
      <ng-template #accountSearch>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>
  </div>
</div>
