:host ::ng-deep {
  .ant-table-expanded-row > td {
    padding: 0;
  }
  tr > td {
    &:nth-of-type(1) {
      width: 60px;
    }
    &:nth-of-type(3) {
      width: 60px;
    }
  }
  td > table > tbody > tr {
    &:nth-of-type(2n-1) {
      background-color: #fff;
    }
  }
}
