:host ::ng-deep {
  .ant-upload.ant-upload-select-picture-card {
    width: 128px;
    height: 128px;
    margin: auto;
  }
  .ant-upload-list-item-name,
  .ant-upload-picture-card-wrapper {
    width: auto;
    position: sticky;
    left: 0;
    z-index: 9;
  }
}

.shadow {
  box-shadow: 9px 0px 8px -4px rgb(0 0 0 / 30%);
}

.image-group {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 5px 0;
  .image-container {
    min-width: 128px;
    max-width: 128px;
    height: 128px;
    padding: 5px;
    border: 1px dashed #d9d9d9;
    position: relative;
    &:hover {
      > .del-pic {
        display: block;
      }
    }
    .del-pic {
      position: absolute;
      font-size: smaller;
      right: 5px;
      top: 5px;
      display: none;
    }
    .image {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }
  }
  > *:not(:last-child) {
    margin-right: 10px;
  }
}
