.login-form {
  padding: 20px 40px;
  width: 100%;
}

// .login-form-margin {
//   margin-bottom: 16px;
// }

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-input-affix-wrapper,
.login-form-button {
  font-size: 18px;
  height: 48px;
}

h1 {
  font-weight: bold;
  letter-spacing: 5px;
}

.view {
  background-image: url('../../../assets/images/login_background.jpg');
  background-repeat: round;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(3px);
  }
}

.block {
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 10;
  > div {
    flex: 1;
    flex-direction: column;
  }
}
