<div class="view flex-center" style="background-image: url('assets/images/login_background.jpg')">
  <div class="flex-center block">
    <div class="flex-center">
      <h1>{{ systemName }}</h1>
      <form nz-form [formGroup]="loginForm" class="login-form">
        <nz-form-item>
          <nz-form-control nzErrorTip="帐号不能为空！">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="code" placeholder="请输入帐号" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="密码不能为空！">
            <nz-input-group nzPrefixIcon="lock">
              <input
                [type]="showPwd ? 'text' : 'password'"
                nz-input
                formControlName="password"
                placeholder="请输入密码"
              />
              <i
                nz-icon
                [nzType]="showPwd ? 'eye' : 'eye-invisible'"
                nzTheme="outline"
                (click)="showPwd = !showPwd"
                class="flex-center"
              ></i>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row nzJustify="end">
          <span
            class="reminder flex-center"
            nzTooltipTitle="请联系管理员重置密码"
            nzTooltipPlacement="bottom"
            nz-tooltip
          >
            <i nz-icon nzType="question-circle" nzTheme="twotone"></i>
            忘记密码？
          </span>
        </div>
        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="login()">登录</button>
      </form>
    </div>
    <div class="flex-center">
      <img src="assets/images/login_illustrations.svg" alt="机房管理系统" />
    </div>
  </div>
</div>
