.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-input-affix-wrapper {
  font-size: 18px;
  height: 48px;
}

.background {
  height: 100vh;
  background-image: url('../../../assets/images/LoginBackground.jpg');
}

.login-area {
  flex-direction: column;
  padding: 2rem;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  h1 {
    line-height: 2.5;
  }
  > form {
    min-width: 300px;
  }
}
