<div class="layout">
  <div class="container">
    <div class="left">
      <div class="handle padding-x" nz-row nzJustify="space-between" nzAlign="middle">
        <nz-button-group>
          <button nz-button nzType="primary" (click)="addPageDrawer.add()">添加</button>
          <button
            nz-button
            nzType="primary"
            nzDanger
            [disabled]="!activePage"
            nz-popconfirm
            nzPopconfirmTitle="确认删除所选层级下所有页面?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deletePage()"
          >
            删除
          </button>
          <button nz-button [disabled]="!activePage" (click)="addPageDrawer.update()">修改</button>
        </nz-button-group>
        <i
          nz-icon
          nzType="info-circle"
          nzTheme="twotone"
          nz-tooltip
          nzTooltipPlacement="bottom"
          [nzTooltipTitle]="titleTemplate"
        ></i>
        <ng-template #titleTemplate> 拖动节点调整页面顺序<br />页面层级请勿超过四级 </ng-template>
      </div>
      <div class="tree padding">
        <div class="view_scroll">
          <nz-tree
            [nzData]="pages"
            nzDraggable
            nzBlockNode
            nzShowIcon
            (nzOnDrop)="adjustPageOrder($event)"
            (nzClick)="pageClick($event)"
          ></nz-tree>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="layout">
        <div class="header padding-x" nz-row nzAlign="middle" nzJustify="end">
          <button nz-button nzType="primary" [hidden]="!activePage?.origin?.isLeaf">添加功能</button>
        </div>
        <div class="container">
          <!-- 功能列表 -->
          <div class="view_scroll padding" [hidden]="!activePage?.origin?.isLeaf">
            <nz-table #pageFunctionTable [nzData]="pageFunctions" nzShowPagination="false">
              <thead>
                <tr>
                  <th nzAlign="center">Code</th>
                  <th nzAlign="center">名称</th>
                  <th nzAlign="center">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of pageFunctionTable.data">
                  <td nzAlign="center">{{ i.code }}</td>
                  <td nzAlign="center">{{ i.name }}</td>
                  <td nzAlign="center">
                    <button
                      nz-button
                      nzType="link"
                      nz-popconfirm
                      nzPopconfirmTitle="确认删除该功能?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteFunction()"
                    >
                      删除
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
          <!-- 空状态显示 -->
          <app-empty *ngIf="!activePage?.origin?.isLeaf" info="请先选择对应页面！"></app-empty>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 新增页面抽屉 -->
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="addPageDrawer.visible"
  (nzOnClose)="addPageDrawer.close()"
  [nzBodyStyle]="{ padding: 0 }"
  nzWidth="300px"
  nzPlacement="right"
  [nzTitle]="isUpdate ? '修改页面' : '添加页面'"
>
  <div class="layout" *nzDrawerContent>
    <div class="container">
      <div class="view_scroll padding">
        <div [hidden]="isUpdate">
          <div style="margin-bottom: 24px">当前上层菜单：{{ activePage?.title ?? '--' }}</div>
          <label nz-checkbox [(ngModel)]="isTopLevel" [nzDisabled]="topLevelDisabled" style="margin-bottom: 24px">
            设为顶层菜单
          </label>
        </div>
        <form nz-form [formGroup]="pageAddForm" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label nzFor="title" nzRequired>页面名称：</nz-form-label>
            <nz-form-control nzErrorTip="页面名称不能为空！">
              <input nz-input formControlName="title" id="title" placeholder="请输入页面名称" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="link" nzRequired>页面路径：</nz-form-label>
            <nz-form-control nzErrorTip="页面路径不能为空！">
              <input nz-input formControlName="link" id="link" placeholder="请输入页面路径" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="icon">页面图标：</nz-form-label>
            <nz-form-control>
              <div nz-row nzAlign="middle">
                <input nz-input formControlName="icon" id="icon" nz-col nzSpan="20" placeholder="请输入图标名称" />
                <i nz-icon [nzType]="pageAddForm.controls.icon.value" nz-col nzSpan="4"></i>
              </div>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div class="footer padding-x" nz-row nzAlign="middle" nzJustify="end">
      <nz-button-group>
        <button nz-button nzType="primary" (click)="addPage()" *ngIf="!isUpdate">添加</button>
        <button nz-button nzType="primary" (click)="updatePage()" *ngIf="isUpdate">修改</button>
        <button nz-button (click)="cancelAdd()">取消</button>
      </nz-button-group>
    </div>
  </div>
</nz-drawer>
