<div class="index padding">
  <info-card
    title="机房信息"
    [quantity]="12"
    unit="间"
    info="当前可用：3间"
    [chart]="labInfo"
    [settings]="labSettings"
  ></info-card>
  <info-card title="设备信息" [quantity]="454" unit="件" [chart]="equipmentInfo"></info-card>
  <info-card title="用户信息" [quantity]="9443" unit="人" [chart]="userInfo" info="当前在线：123人"></info-card>
  <apply-chart title="机房申请" viewDetail="" [data]="labApplyData"></apply-chart>
  <apply-chart title="采购申请" viewDetail="" [data]="shopApplyData"></apply-chart>
  <apply-chart title="设备报修" viewDetail="" [data]="repairApplyData"></apply-chart>
  <bulletin></bulletin>
  <line-chart></line-chart>
  <class-schedule></class-schedule>
  <div class="side">
    <rank-list></rank-list>
    <ac-area></ac-area>
  </div>
</div>
