<div class="index padding">
  <info-card title="机房信息" unit="间" [chartData]="labStatistic" [settings]="labSettings"></info-card>
  <info-card title="设备信息" unit="件" [chartData]="equipmentStatistic"></info-card>
  <info-card title="用户信息" unit="人" [chartData]="userStatistic"></info-card>
  <apply-chart title="机房申请" viewDetail="" [chartData]="labApplyData"></apply-chart>
  <apply-chart title="采购申请" viewDetail="" [chartData]="shopApplyData"></apply-chart>
  <apply-chart title="设备报修" viewDetail="" [chartData]="repairApplyData"></apply-chart>
  <bulletin></bulletin>
  <line-chart></line-chart>
  <class-schedule></class-schedule>
  <div class="side">
    <rank-list></rank-list>
    <ac-area></ac-area>
  </div>
</div>
