.index {
  height: 100%;
  width: 80vw;
  overflow-y: scroll;
  background-color: #f0f2f5;
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-rows: 200px 200px 500px 500px 500px;
  grid-template-columns: repeat(3, 1fr);
  & > * {
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .equipmentInfo {
    grid-area: auto;
  }
  .userInfo {
    grid-area: auto;
  }
  .labApply {
    grid-area: auto;
  }
  .shopApply {
    grid-area: auto;
  }
  .repairApply {
    grid-area: auto;
  }
  .notice {
    grid-area: 3 / 1 / 4 / 3;
  }
  .message {
    grid-area: 'auto';
  }
  .lineChart {
    grid-area: 4 / 1 / 5 / 3;
  }
  .rankList {
    grid-area: auto;
  }
  .curriculum {
    grid-area: 5 / 1 / 6 / 4;
  }
}
