.index {
  height: 100%;
  overflow-y: auto;
  background-color: #f0f2f5;
  display: grid;
  gap: 20px;
  grid-template-rows: 200px 340px 400px 500px auto;
  grid-template-columns: repeat(6, 1fr);
  & > *:not(.side) {
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 0;
  }
  & > *:not(info-card, rank-list, ac-area) {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 27px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  position: relative;
  &::before {
    content: '';
    width: 4px;
    height: 1rem;
    background-color: #1890ff;
    position: absolute;
    margin-left: -10px;
  }
}

.min-width {
  min-width: 0;
}
.min-height {
  min-height: 0;
}
