<div class="index">
  <app-infoCard title="机房信息" [quantity]="12" unit="间" info="当前可用：3间" [chart]="labInfo"></app-infoCard>
  <app-infoCard title="设备信息" [quantity]="454" unit="件" [chart]="equipmentInfo"></app-infoCard>
  <app-infoCard title="用户信息" [quantity]="9443" unit="人" [chart]="userInfo"></app-infoCard>
  <!-- <div></div>
  <div></div>
  <div></div> -->
  <div class="labApply"></div>
  <div class="shopApply"></div>
  <div class="repairApply"></div>
  <div class="notice"></div>
  <div class="message"></div>
  <div class="lineChart"></div>
  <div class="rankList"></div>
  <div class="curriculum"></div>
</div>
