.course {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.check {
  font-size: 1.2rem;
  height: 50px;
}

.edit-check {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: -8px;
    bottom: -12px;
    left: -8px;
  }
}

:host ::ng-deep {
  .ant-checkbox {
    display: none;
  }
}
