.course {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.check {
  font-size: 1.2rem;
  height: 50px;
  padding-bottom: 29px;
}

.select-list {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  z-index: 9;
}

.edit-check {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: -8px;
    bottom: -12px;
    left: -8px;
  }
}

.select-none {
  user-select: none;
}

:host ::ng-deep {
  .ant-checkbox {
    display: none;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: transparent;
  }
  .ant-table-tbody > tr.ant-table-row > td:hover {
    background: #ececec;
  }
}
