// 基础布局样式
$header-height: 50px;
$left-width: 250px;
.layout {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  & > .header {
    height: $header-height;
    border-bottom: 1px solid #eee;
    padding: 0 10px;

    & > .right {
      height: $header-height;
      float: right;
      padding: 0 10px;
    }
  }

  & > .container {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    & > .left {
      width: $left-width;
      display: flex;
      flex-direction: column;

      & > .handle {
        height: $header-height;
        border-bottom: 1px solid #eee;
      }

      & > .tree {
        height: 100%;
        flex: 1;
      }
    }

    & > .right {
      flex: 1;
      border-left: 1px solid #eee;
    }
  }

  & > .footer {
    height: $header-height;
    border-top: 1px solid #eee;
  }
}

// 滚动样式
.view {
  height: 100%;
  width: 100%;
}
.view_scroll {
  height: 100%;
  width: 100%;
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 10px;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background-color: #666;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
::-webkit-scrollbar-corner {
  background-color: #666;
}
::-webkit-scrollbar-resizer {
  background-color: #666;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reminder {
  color: #1890ff;
  font-size: 0.8rem;
  margin-bottom: 24px;
  cursor: help;
  i {
    margin-right: 5px;
  }
}

.padding {
  padding: 10px;
}
.padding-x {
  padding: 0 10px;
}
.padding-y {
  padding: 10px 0;
}
