<nz-layout>
  <nz-header nzTheme="light">
    <div class="logo flex-center">
      <img src="../../assets/images/computer.png" alt="机房管理系统" />
      <span>机房管理系统</span>
    </div>
    <div class="right flex-center">
      <i nz-icon nzType="bell" nzTheme="outline"></i>
      <span nz-dropdown [nzDropdownMenu]="menu" class="flex-center">
        {{ userInfo?.name }}
        <nz-avatar nzSize="large" nzIcon="user" [nzSrc]=""></nz-avatar>
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>修改密码</li>
          <li nz-menu-item>退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzTheme="light">
      <ul nz-menu nzMode="inline">
        <ng-container *ngFor="let menu of menus">
          <!-- 二级菜单 -->
          <ng-container *ngIf="menu.children?.length; else singleMenu">
            <li nz-submenu [nzTitle]="menu.text" [nzIcon]="menu.icon!">
              <ul>
                <li *ngFor="let subMenu of menu.children" nz-menu-item [routerLink]="subMenu.link" nzMatchRouter>
                  {{ subMenu.text }}
                </li>
              </ul>
            </li>
          </ng-container>
          <!-- 一级菜单 -->
          <ng-template #singleMenu>
            <li nz-menu-item [routerLink]="menu.link" nzMatchRouter>
              <i nz-icon [nzType]="menu.icon!" nzTheme="outline"></i>
              <span>{{ menu.text }}</span>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>计算机科学与技术学院 ©2022 20180000 xxx</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
