nz-layout {
  height: 100%;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  .logo {
    img {
      width: 2rem;
    }
    span {
      margin-left: 10px;
      letter-spacing: 3px;
    }
  }
  .right {
    .check-in {
      position: relative;
      margin-right: 40px;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
      }
      &::before {
        content: '签到';
        position: absolute;
        color: #fece0a;
        top: 3px;
        left: -31px;
        font-size: 0.9rem;
      }
    }
    span {
      font-size: 1rem;
      margin-left: 20px;
      nz-avatar {
        margin-left: 10px;
      }
    }
  }
}

nz-breadcrumb {
  margin: 10px 16px;
}

nz-content {
  margin: auto 16px 10px 16px;
  background: #fff;
}

nz-footer {
  text-align: center;
}

.ant-layout-footer,
.ant-layout-header {
  padding: 0 26px;
}

.ant-layout-footer {
  padding-bottom: 10px;
}
