<nz-layout>
  <nz-header nzTheme="light">
    <div class="logo flex-center">
      <img src="../../assets/images/computer.png" alt="机房管理系统" />
      <span>机房管理系统</span>
    </div>
    <div class="right flex-center">
      <span class="check-in" *ngIf="cache.checkIn" (click)="checkInModal.open()">
        <img src="../../../assets/images/签到.svg" alt="签到" />
      </span>
      <span nz-dropdown [nzDropdownMenu]="menu" class="flex-center">
        {{ userInfo?.name }}
        <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="userInfo?.avatar"></nz-avatar>
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="ProfileEl.show()">修改资料</li>
          <li nz-menu-item (click)="logout()">退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzTheme="light">
      <div class="view_scroll" style="height: calc(100% - 48px)">
        <ul nz-menu nzMode="inline" (nzClick)="menuClick($event)">
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
          <ng-template #menuTpl let-menus>
            <ng-container *ngFor="let menu of menus">
              <li
                *ngIf="menu.leaf"
                nz-menu-item
                [nzPaddingLeft]="menu.level * 24"
                nzMatchRouter
                [routerLink]="menu.link"
              >
                <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
                <span>{{ menu.title }}</span>
              </li>
              <li
                *ngIf="!menu.leaf"
                nz-submenu
                [nzPaddingLeft]="menu.level * 24"
                [nzTitle]="menu.title"
                [nzIcon]="menu.icon"
              >
                <ul>
                  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"> </ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-template>
        </ul>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-breadcrumb nzSeparator=">" [nzAutoGenerate]="true" nzRouteLabel="title">
        <nz-breadcrumb-item><a (click)="back()">返回</a></nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>计算机科学与技术学院 ©2022 20180000 xxx</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>

<modify-profile #ProfileEl></modify-profile>

<!-- 签到Modal -->
<nz-modal
  [(nzVisible)]="checkInModal.visible"
  nzTitle="签到"
  (nzOnCancel)="checkInModal.close()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    机房：{{ cache.checkIn?.lab_name }}, {{ cache.checkIn?.seat_row }}排
    {{ cache.checkIn?.seat_column }}
    座可以使用了，请在十分钟内签到！
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="checkInModal.viewApplication()">查看申请</button>
    <button nz-button nzType="primary" (click)="checkInModal.checkIn()">签到</button>
  </ng-template>
</nz-modal>
