nz-layout {
  height: 100%;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: #fff;
  .logo {
    img {
      width: 2rem;
    }
    span {
      font-weight: bold;
      letter-spacing: 3px;
    }
  }
  span {
    margin-left: 0.5rem;
  }
}

nz-content {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

nz-breadcrumb {
  margin: 10px 0;
}

.inner-content {
  flex: 1;
  background: #fff;
}

nz-footer {
  text-align: center;
}

.ant-layout-footer,
.ant-layout-header {
  padding: 10px 26px;
}
