nz-layout {
  height: 100%;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  .logo {
    img {
      width: 2rem;
    }
    span {
      margin-left: 10px;
      letter-spacing: 3px;
    }
  }
  .right {
    span {
      font-size: 1rem;
      margin-left: 20px;
      nz-avatar {
        margin-left: 10px;
      }
    }
  }
}

nz-content {
  margin: 16px 16px 10px 16px;
  background: #fff;
}

nz-footer {
  text-align: center;
}

.ant-layout-footer,
.ant-layout-header {
  padding: 0 26px;
}
